<div class="header-info">
  <span class="header-info-name">
    <span class="half-color" attribute="A">A</span>
    <span class="half-color" attribute="U">U</span>
    <span class="half-color" attribute="S">S</span>
    <span class="half-color" attribute="S">S</span>
    &nbsp;
    <span class="half-color" attribute="G">G</span>
    <span class="half-color" attribute="R">R</span>
    <span class="half-color" attribute="O">O</span>
    <span class="half-color" attribute="U">U</span>
    <span class="half-color" attribute="P">P</span>
  </span>
  <span class="header-info-desc">{{ site.description }}</span>
</div>
<nav class="header-nav">
  <ul class="header-main-nav">
  {% for item in site.data.menus %}
    <li class="header-main-nav-item"><a href="{{ site.baseurl }}/{{ item.url }}">{% if item.default %}{{ site.data.lang[site.language][item.default] }}{% else %}{{ item.title }}{% endif %}</a></li>
  {% endfor %}
  </ul>
</nav>